.home {
  margin: auto;
  max-width: 500px;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.input {
  padding: 10px;
  background-color: #f0f0f0;
  outline: none;
  border: 1px solid #e0e0e0;
}

.info-text {
  margin: 0;
  font-weight: 600;
  word-wrap: break-word;
  white-space: normal;
}

.color-gray {
  color: #808080;
}

.color-red {
  color: #d21404;
}
